footer {
  text-align: center;
  background: rgb(228,228,228);
  padding: 2em 0;
}

footer h1 {
  color: #999;
  text-shadow: 1px 1px white;
}

main.container h1, main.container h2 {
  text-decoration: none;
  color: black;
}

main.container h1:hover:after, 
main.container h2:hover:after {
  content: url(../img/link-icon.png) no-repeat top left;
  margin-left: 10px;
}

.who-uses {
  width: 95%;
  margin: auto;
}

.who-uses li {
  display: inline-block;
  margin: 1em 2em;
  vertical-align: middle;
}

.who-uses a {
  background: url(../img/whoUses.png) no-repeat top left;
  display: inline-block;
  text-indent: -99999px;
}

.who-uses .agenciaclick {
  background-position: 0 -109px; 
  width: 181px; 
  height: 26px;
}

.who-uses .defferrari {
  background-position: 0 -185px; 
  width: 142px; 
  height: 78px;
}

.who-uses .guj {
  background-position: 0 0; 
  width: 144px; 
  height: 59px;
}

.who-uses .locaweb {
  background-position: 0 -313px; 
  width: 146px; 
  height: 50px;
}

.who-uses .wine {
  background-position: 0 -413px; 
  width: 139px; 
  height: 56px;
}

.who-uses .mamute {
  background: url(../img/mamute.png) no-repeat;
  width: 235px; 
  height: 70px;
}