#!/usr/bin/env ruby

def apply_filters_and_layouts(*archive, layout)
  archive.each do |a|
    compile a do
      if layout
        filter :erb
        filter :kramdown
        filter :colorize_syntax, :default_colorizer => :pygmentsrb
        layout layout
        filter :relativize_paths, :type => :html
        filter :relativize_paths, :type => :css
      end
    end
  end
end

compile '/js/search-*/' do
  filter :erb
end

apply_filters_and_layouts '/img/*', '/css/*', '/js/*', false
apply_filters_and_layouts '/pt/docs/*', '/pt/documentacao'
apply_filters_and_layouts '/pt/cookbook/*', '/pt/cookbook'
apply_filters_and_layouts '/en/docs/*', '/en/documentation'
apply_filters_and_layouts '/en/cookbook/*', '/en/cookbook'
apply_filters_and_layouts '/en/*', '/en/default'
apply_filters_and_layouts '/sitemap', '/sitemap'
apply_filters_and_layouts '/*', '/pt/default'

route '/js/search-en/' do
  '/js/search-en.js'
end

route '/js/search-pt/' do
  '/js/search-pt.js'
end

route '*' do
  ext = item[:extension]
  if item.binary? || ext.eql?('js') || ext.eql?('css')
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

layout '*', :erb
