out
.classpath
.project
.settings
.metadata
.grunt
!vraptor-blank-project/.classpath
!vraptor-blank-project/.settings/
!vraptor-blank-project/.project
*.zip
*.ipr
*.iws
*.iml
*.class
*.swp
target
classes
build
cobertura.ser
bin
.DS_Store
classes
vraptor-blank-project/WebContent/WEB-INF/lib/*.jar
vraptor-blank-project-gae/war/WEB-INF/lib/*.jar
vraptor-site/output/**
vraptor-site/tmp/**
vraptor-site/crash.log
*~
vraptor-plugin-gae/build.tmp/
.idea/
