out
.classpath
.project
.settings
.metadata
!vraptor-blank-project/.classpath
!vraptor-blank-project/.settings/
!vraptor-blank-project/.project
*.zip
*.ipr
*.iws
*.iml
*.class
*.swp
target
classes
build
cobertura.ser
bin
.DS_Store
classes
vraptor-blank-project/WebContent/WEB-INF/lib/*.jar
vraptor-blank-project-gae/war/WEB-INF/lib/*.jar
*~
vraptor-plugin-gae/build.tmp/
