<!DOCTYPE HTML>
<html lang="pt">
  <%= render 'head' %>
  <body>
    <%= render 'header' %>
    <nav class="doc-nav container">
      <h1>Cookbook</h1>
      <ul>
        <li>
            <a href="/pt/cookbook/aceitando-urls-com-ou-sem-barra-no-final">
              Aceitando URLs com ou sem barra no final
            </a>
        </li>
        <li>
            <a href="/pt/cookbook/evitando-que-o-browser-faca-cache-das-paginas">
              Evitando que o browser faça cache das páginas
            </a>
        </li>
      </ul>
    </nav>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
