<!DOCTYPE HTML>
<html lang="pt">
  <%= render 'head' %>
  <body>
    <%= render 'header' %>
    <nav class="doc-nav container">
      <h1>Cookbook</h1>
      <ul>
        <li>
            <a href="/pt/cookbook/aceitando-urls-com-ou-sem-barra-no-final">
              Aceitando URLs com ou sem barra no final
            </a>
        </li>
        <li>
            <a href="/pt/cookbook/construindo-uma-aplicacao-web-com-java8-vraptor4-wildfly">
              Construindo uma Aplicação Web com Java 8 e VRaptor 4 no Wildfly
            </a>
        </li>
        <li>
            <a href="/pt/cookbook/evitando-que-o-browser-faca-cache-das-paginas">
              Evitando que o browser faça cache das páginas
            </a>
        </li>
        <li>
            <a href="/pt/cookbook/usando-o-header-referer-para-fazer-redirecionamentos">
              Usando o Header Referer para fazer redirecionamentos
            </a>
        </li>
        <li>
            <a href="/pt/cookbook/integrando-vraptor-com-tiles3">
              Integrando o VRaptor com Tiles 3
            </a>
        </li>
        <li>
            <a href="/pt/cookbook/utilizando-conversation-scoped">
              Utilizando o @ConversationScoped no VRaptor4
            </a>
        </li>
        <li>
            <a href="/pt/cookbook/utilizando-angularjs-vraptor4">
              Utilizando AngularJS no VRaptor4
            </a>
        </li>
        <li>
            <a href="/pt/cookbook/integrando-vraptor-com-tagrialib">
              Integrando o VRaptor com Tagria
            </a>
        </li>
      </ul>
    </nav>
    <main class="container">
      <%= yield %>
    </main>
    <script src="/js/search-pt.js"></script>
    <!-- build:js /js/headers.min.js -->
    <script src="/js/headers.js"></script>
    <script src="/js/search.js"></script>
    <!-- endbuild -->
  </body>
</html>
