<!DOCTYPE HTML>
<html lang="pt">
  <%= render 'head' %>
  <body>
    <%= render 'header' %>
    <main class="container">
      <%= yield %>
    </main>
    <footer>
      <h1>Quem está usando VRaptor</h1>
      <ul class="who-uses">
        <li>
          <a class="mamute" href="http://mamute.org/">Mamute</a>
        </li>
        <li>
          <a class="guj" href="http://guj.com.br/">GUJ</a>
        </li>
        <li>
          <a class="wine" href="http://www.wine.com.br/">wine.com.br</a>
        </li>
        <li>
          <a class="defferrari" href="http://www.defferrari.com.br/">Grupo Defferrari</a>
        </li>
        <li>
          <a class="locaweb" href="http://www.locaweb.com.br/">Locaweb</a>
        </li>
        <li>
          <a class="agenciaclick" href="http://www.isobar.com/br-agenciaclick/home">Agência Click</a>
        </li>
      </ul>
    </footer>
    <script src="/js/search-pt.js"></script>
    <!-- build:js /js/headers.min.js -->
    <script src="/js/headers.js"></script>
    <script src="/js/search.js"></script>
    <!-- endbuild -->
  </body>
</html>
