<!DOCTYPE HTML>
<html lang="pt">
  <%= render 'head' %>
  <body>
    <%= render 'header' %>
    <nav class="doc-nav container">
      <h1>Documentação</h1>
      <ul>
        <li><a href="/pt/docs/guia-de-1-minuto">Guia inicial de 1 minuto</a></li>
        <li><a href="/pt/docs/guia-de-10-minutos">Guia inicial de 10 minutos</a></li>
        <li><a href="/pt/docs/controllers-rest">Controllers Rest</a></li>
        <li><a href="/pt/docs/componentes">Componentes</a></li>
        <li><a href="/pt/docs/conversores">Conversores</a></li>
        <li><a href="/pt/docs/validacao">Validação</a></li>
        <li><a href="/pt/docs/interceptadores">Interceptadores</a></li>
        <li><a href="/pt/docs/eventos">Eventos</a></li>
        <li><a href="/pt/docs/trabalhando-com-a-view">Trabalhando com a View</a></li>
        <li><a href="/pt/docs/download-e-upload">Download e Upload</a></li>
        <li><a href="/pt/docs/environment">Environment</a></li>
        <li><a href="/pt/docs/plugins">Plugins</a></li>
        <li><a href="/pt/docs/dependencias-e-pre-requisitos">Dependências e pré requisitos</a></li>
        <li><a href="/pt/docs/testando-componentes-e-controllers">Testando Componentes e Controllers</a></li>
        <li><a href="/pt/docs/migrando-de-um-projeto-com-vraptor3">Migrando de um projeto com VRaptor 3</a></li>
        <li><a href="/pt/docs/contribuindo-com-o-vraptor">Contribuindo com o VRaptor</a></li>
        <li><a href="/pt/docs/artigos-e-apresentacoes">Artigos e Apresentações</a></li>
      </ul>
    </nav>
    <main class="container doc-container">
      <%= yield %>
    </main>
    <script src="/js/search-pt.js"></script>
    <!-- build:js /js/headers.min.js -->
    <script src="/js/headers.js"></script>
    <script src="/js/search.js"></script>
    <!-- endbuild -->
  </body>
</html>
