<% path = @item[:filename].start_with?('content/en') ? 'en' : 'pt' %>

<header class="container">

  <h1 class="logo"><a class="logo-link" href="/<%=path%>">
      <img src="/img/logo.png" alt="VRaptor">
  </a></h1>

  <div class="header-links">
    <ul class="community">

      <li><a href="https://groups.google.com/forum/#!forum/caelum-vraptor<%= path == 'en' ? '-en' : '' %>" target="_blank">Google Groups</a></li>
      <li><a href="https://github.com/caelum/vraptor4/" target="_blank">GitHub</a></li>
      <li><a href="http://www.guj.com.br/tag/vraptor" target="_blank">GUJ Respostas</a></li>
    </ul>

    <ul class="site-languages">
      <li>
        <a class="site-language flag flag-en <%=path == 'en' ? '' : 'not-selected'%>" title="en" href="/en">
          EN
        </a>
      </li>
      <li>
        <a class="site-language flag flag-pt <%=path == 'pt' ? '' : 'not-selected'%>" title="pt" href="/pt">
          PT
        </a>
      </li>
    </ul>

    <% if path == 'en' %>
      <a href="/en/search/" class="site-search-link">Go to search page</a>
      <form action="/en/search/" method="get" class="site-search-form">
        <input type="search" name="q">
        <button type="submit">Search</button>
      </form>
    <% else %>
      <a href="/pt/busca/" class="site-search-link">Ir para a página de busca</a>
      <form action="/pt/busca/" method="get" class="site-search-form">
        <input type="search" name="q">
        <button type="submit">Buscar</button>
      </form>
    <% end %>
  </div>

</header>
<%= render path + '/menu' %>

<div class="breadcrumbs">
  <% breadcrumbs_trail.each do |crumb| %> 
    <% if crumb && @item[:title] != "Home" %>
     <%= link_to(crumb[:title], crumb.reps.find { |r| r.name == :default }) %>
    <% end %>
  <% end %>
</div>
