<% path = @item[:filename].start_with?('content/en') ? '/en' : '/pt' %>

<header>
  <h1 class="logo"><a class="logo-link" href="<%=path%>">
      <img src="/img/logo.png" alt="VRaptor">
  </a></h1>
  <span class="sublogo-message">Framework Java MVC</span>

  <span class="site-languages">
    <a class="site-language flag flag-en <%=path == '/en' ? '' : 'not-selected'%>" title="en" href="/en">
      EN
    </a>
    <a class="site-language flag flag-pt <%=path == '/pt' ? '' : 'not-selected'%>" title="pt" href="/pt">
      PT
    </a>
  </span>

</header>
