<!DOCTYPE HTML>
<html lang="en">
  <%= render 'head' %>
  <body>
    <%= render 'header' %>
    <nav class="doc-nav container">
      <h1>Cookbook</h1>
      <ul>
        <li>
            <a href="/en/cookbook/accepting-urls-ending-with-a-slash">
              Accepting URLs ending with a slash
            </a>
          </li>
          <li>
            <a href="/en/cookbook/building-a-web-application-with-java8-vraptor4-wildfly">
              Building a Web Application with Java 8 and VRaptor4 on Wildfly
            </a>
          </li>
          <li>
            <a href="/en/cookbook/avoiding-browser-cache">
              Avoiding browser cache
            </a>
        </li>
        <li>
            <a href="/en/cookbook/using-the-referer-header-to-redirect">
              Using Referer Header to redirect
            </a>
        </li>
        <li>
            <a href="/en/cookbook/integrating-vraptor-with-tiles3">
              Integrating VRaptor with Tiles 3
            </a>
        </li>
        <li>
            <a href="/en/cookbook/using-conversation-scoped">
              Using @ConversationScoped on VRaptor 4
            </a>
        </li>
        <li>
            <a href="/en/cookbook/using-angularjs-vraptor4">
              Using AngularJS on VRaptor4
            </a>
        </li>
        <li>
            <a href="/en/cookbook/integrating-vraptor-with-tagrialib">
              Integrating VRaptor with Tagria
            </a>
        </li>
      </ul>
    </nav>
    <main class="container">
      <%= yield %>
    </main>
    <script src="/js/search-en.js"></script>
    <!-- build:js /js/headers.min.js -->
    <script src="/js/headers.js"></script>
    <script src="/js/search.js"></script>
    <!-- endbuild -->
  </body>
</html>
