<!DOCTYPE HTML>
<html lang="en">
  <%= render 'head' %>
  <body>
    <%= render 'header' %>
    <nav class="doc-nav container">
      <h1>Cookbook</h1>
      <ul>
        <li>
            <a href="/en/cookbook/accepting-urls-ending-with-a-slash">
              Accepting URLs ending with a slash
            </a>
            <a href="/en/cookbook/avoiding-browser-cache">
              Avoiding browser cache
            </a>
        </li>
        <li>
            <a href="/en/cookbook/using-the-referer-header-to-redirect">
              Using Referer Header to redirect
            </a>
        </li>
        <li>
            <a href="/en/cookbook/integrating-vraptor-with-tiles3">
              Integrating VRaptor with Tiles 3
            </a>
        </li>
      </ul>
    </nav>
    <main class="container">
      <%= yield %>
    </main>
    <!-- build:js /js/headers.min.js -->
    <script src="/js/headers.js"></script>
    <!-- endbuild -->
  </body>
</html>
