<!DOCTYPE HTML>
<html lang="en">
  <%= render 'head' %>
  <body>
    <%= render 'header' %>
    <main class="container">
      <%= yield %>
    </main>
    <footer>
      <h1>Who is using VRaptor</h1>
      <ul class="who-uses">
        <a href="http://mamute.org/">
          <li class="mamute">Mamute</li>
        </a>
        <a href="http://guj.com.br/">
          <li class="guj">GUJ</li>
        </a>
        <a href="http://www.wine.com.br/">
          <li class="wine">wine.com.br</li>
        </a>
        <a href="http://www.defferrari.com.br/">
          <li class="defferrari">Grupo Defferrari</li>
        </a>
        <a href="http://www.locaweb.com.br/">
          <li class="locaweb">Locaweb</li>
        </a>
        <a href="http://www.isobar.com/br-agenciaclick/home">
          <li class="agenciaclick">Agência Click</li>
        </a>
      </ul>
    </footer>
    <!-- build:js /js/headers.min.js -->
    <script src="/js/headers.js"></script>
    <!-- endbuild -->
  </body>
</html>
