<!DOCTYPE HTML>
<html lang="en">
  <%= render 'head' %>
  <body>
    <%= render 'header' %>
    <nav class="doc-nav container">
      <h1>Documentation</h1>
      <ul>
        <li><a href="/en/docs/one-minute-guide">One minute guide</a></li>
        <li><a href="/en/docs/ten-minute-guide">Ten minute guide</a></li>
        <li><a href="/en/docs/controllers-rest">REST Controllers</a></li>
        <li><a href="/en/docs/components">Components</a></li>
        <li><a href="/en/docs/converters">Converters</a></li>
        <li><a href="/en/docs/validation">Validation</a></li>
        <li><a href="/en/docs/interceptors">Interceptors</a></li>
        <li><a href="/en/docs/events">Events</a></li>
        <li><a href="/en/docs/view-and-ajax">View and Ajax</a></li>
        <li><a href="/en/docs/download-and-upload">Download and Upload</a></li>
        <li><a href="/en/docs/environment">Environment</a></li>
        <li><a href="/en/docs/plugins">Plugins</a></li>
        <li><a href="/en/docs/dependencies-and-prerequisites">Dependencies and prerequisites</a></li>
        <li><a href="/en/docs/testing-components-and-controllers">Testing Components and Controllers</a></li>
        <li><a href="/en/docs/migrating-vraptor3-project">Migrating from VRaptor 3</a></li>
        <li><a href="/en/docs/contributing-to-vraptor">Contributing to VRaptor</a></li>
        <li><a href="/en/docs/articles-and-presentations">Articles and Presentations</a></li>
      </ul>
    </nav>
    <main class="container doc-container">
      <%= yield %>
    </main>
    <script src="/js/search-en.js"></script>
    <!-- build:js /js/headers.min.js -->
    <script src="/js/headers.js"></script>
    <script src="/js/search.js"></script>
    <!-- endbuild -->
  </body>
</html>
