<!DOCTYPE HTML>
<html lang="en">
  <%= render 'head' %>
  <body>
    <%= render 'header' %>
    <nav class="main-nav">
      <ul>
        <li><a href="/en/docs/one-minute-guide">One minute guide</a></li>
        <li><a href="/en/docs/ten-minute-guide">Ten minute guide</a></li>
        <li><a href="/en/docs/controllers-rest">Controllers Rest</a></li>
        <li><a href="/en/docs/components">Components</a></li>
        <li><a href="/en/docs/converters">Converters</a></li>
        <li><a href="/en/docs/validation">Validation</a></li>
        <li><a href="/en/docs/interceptors">Interceptors</a></li>
        <li><a href="/en/docs/view-and-ajax">View and Ajax</a></li>
        <li><a href="/en/docs/download-and-upload">Download and Upload</a></li>
        <li><a href="/en/docs/environment">Environment</a></li>
        <li><a href="/en/docs/plugins">Plugins</a></li>
        <li><a href="/en/docs/migrating-vraptor3-project">Migrating from VRaptor 3</a></li>
        <li><a href="/en/docs/how-to-contribute">How to contribute to VRaptor</a></li>
      </ul>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
