.flag:before {
  content: '';
  width: 16px;
  height: 11px;
  display: inline-block;
  background: url(../img/flags.png) no-repeat;
}

.flag-pt:before {
  background-position: -16px 0;
}

.flag-en:before {
  background-position: -32px 0;
}

.flag-pt.not-selected:before {
  background-position: -16px -11px;
}

.flag-en.not-selected:before {
  background-position: -32px -11px;
}
