body {
  color: #333333;
  font-size: 100%;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  background-color: #fff;
}

tt,code,pre {
  font-family:Consolas, "Liberation Mono", Courier, monospace;
}

a {
  color: #4183c4;
  text-decoration: none;
}

h1,h2,h3 {
  line-height: 1.2;
  margin: 1.5em 0;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.3em;
  margin-bottom: 0;
  padding-bottom: .5em;
  border-bottom: 1px solid #eee;
}

h3 {
  font-size: 1.1em;
}

::selection {
  text-shadow: none;
  background: rgba(65,131,196,0.4);
}

main p {
  margin: 2em 0;
}

main p,
main li {
  line-height: 1.7;
}

main ul, main ol {
  margin: 1em;
}

main li {
  margin: 1.5em 0;
  list-style-type: square;
}

pre {
  background-color: #f8f8f8;
  overflow: auto;
  padding: .25em;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: .9em;
  line-height: 1.3;
  margin: 1em 0;
}

header {
  margin-top: .5em;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em .5em;
}

.note {
  background-color: rgb(194, 194, 194);
  text-indent: 10px;
}

.note p {
  margin: auto;
  padding: 1em;
}

.logo {
  display: block;
  margin: 0;
}

.community,
.site-languages {
  display: inline-block;
  vertical-align: middle;
  margin: .5em 1em;
}

.community li {
  display: inline-block;
  margin: .5em;
}

.community a {
  width: 32px;
  height: 32px;
  overflow: hidden;
  padding: 0;
  display: block;
}

.community a:before {
  background: url(../img/community.png) no-repeat top left;
  display: inline-block;
  content: '';
  background-size: 32px;
  width: 32px;
  height: 32px;
}

.community a[href*="groups.google.com"]:before {
  background-position: 0 -45px;
}

.community a[href*="github.com"]:before {
  background-position: 0 0;
}

.community a[href*="guj.com.br"]:before,
.community a[href*="questions.vraptor"]:before {
  background-position: 0 -89px;
}

.site-search-link {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  overflow: hidden;
  margin: 0 2em;
}

.site-search-link:before {
  content: '';
  width: 32px;
  height: 32px;
  display: inline-block;
  background-image: url(../img/search.png);
  background-size: 50% 50%;
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid #3E82C3;
  border-radius: 50%;
  box-sizing: border-box;
}

.site-search-form {
  display: none;
}

.home-call-links {
  display: block;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.download-btn {
  display: block;
  background-color: #224;
  color: #eee;
  font-size: 2em;
  border-radius: 5px;
}

.download-btn:before {
  content: '';
  background-image: url(../img/download.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  vertical-align: -.7em; /* don't ask why, just believe */
  margin: .5em .5em .5em 0;
}

.download-btn:hover,
.download-btn:focus {
  background-color: #449;
}

.old-vraptor-msg {
  display: block;
  margin: 1em auto;
  font-style: italic;
  font-size: .9em;
}

.home-advantages li {
  list-style: none;
}

.home-advantages li:before {
  content: '';
  background: url(../img/advantages.png) no-repeat top left;
  width: 105px;
  height: 100px;
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

.home-advantages strong {
  font-weight: bold;
  display: block;
}

.home-advantages .productivity:before {
  background-position: 0 -720px;
}

.home-advantages .learning:before {
  background-position: 0 -588px;
}

.home-advantages .testability:before {
  background-position: 0 -972px;
}

.home-advantages .economy:before {
  background-position: 0 -297px;
}

.home-advantages .injection:before {
  background-position: 0 -436px;
}

.home-advantages .soa:before {
  background-position: 0 -853px;
}

.home-advantages .best-practices:before {
  background-position: 0 0;
}

.home-advantages .docs:before {
  background-position: 0 -153px;
}

#eventPileline {
  min-width: 700px;
  width: 90%;
}

.content-table {
    width: 100%;
    background-color: #F8F8F8;
}

.content-table tr {
    border-bottom: 1px solid #CECECE;
}

.content-table tr td {
    padding: 15px 10px 15px 0;
    vertical-align: bottom;
}

.doc-container {
    max-width: 55em;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 400px) {
  .site-search-link {
    display: none;
  }

  .site-search-form {
    display: inline-block;
    position: relative;
    font-size: 22px;
  }

  .site-search-form input {
    padding: .25em 1.5em .25em .75em;
    border: 1px solid #ccc;
    border-radius: 1em;
    font: inherit;
  }

  .site-search-form button {
    position: absolute;
    right: .25em;
    top: 1px; /* input border */
    padding: 0;
    width: 1.5em;
    height: 1.5em;
    text-indent: -9999px;
    border: none;
    background-image: url("../img/search.png");
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    font: inherit;
  }
}

@media (min-width: 640px) {
  .container {
    padding: 1em 2em;
  }
}

@media (min-width: 760px) {
  header {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-links {
    overflow: hidden;
  }

  .community,
  .site-languages,
  .site-search-form {
    float: right;
  }

  .community,
  .site-languages {
    margin-right: 0;
    margin-bottom: 1em;
  }

  .site-search-form {
    clear: right;
  }

  .community {
    margin-left: 2em;
  }

  .community :last-child {
    margin-right: 0;
  }

  .home-advantages li {
    display: inline-block;
    width: 48%;
    vertical-align: top;
  }

  .home-advantages li:nth-child(odd) {
    margin-right: 2%;
  }

  .home-example-column {
    display: inline-block;
    width: 48%;
    vertical-align: top;
  }

  .home-example-column:nth-of-type(odd) {
    margin-right: 2%;
  }
}

@media (min-width: 60em) {
  .home-call {
    text-align: justify;
  }

  .home-call:after {
    content: '';
    display: inline-block;
    width: 100%;
  }

  .home-call p {
    width: 39em;
    text-align: left;
  }

  .home-call-links {
    width: 16em;
  }

  .home-call p,
  .home-call-links {
    display: inline-block;
    vertical-align: bottom;
  }
}
