body {
  color: #333333;
  font-size: 100%;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  background-color: #fff;
}

tt,code,pre {
  font-family:Consolas, "Liberation Mono", Courier, monospace;
}

a {
  color: #4183c4;
  text-decoration: none;
}

::selection {
  text-shadow: none;
  background: rgba(65,131,196,0.4);
}

main p {
  margin: 20px 0;
  font-size: 15px;
  line-height: 20px;
}

main ul, main ol {
  margin: 20px;
}

main li {
  font-size: 15px;
  line-height: 20px;
}

main ul li {
  list-style-type: square;
}

pre {
  background-color: #f8f8f8;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 1px 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

header {
  margin: .5em auto 0;
}

.logo,
.sublogo-message {
  display: block;
  text-align: center;
}

.sublogo-message {
  font-size: 1.5em;
  color: #AAAAAA;
}
